#root {
  max-width: 2040px;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: 'Roboto Slab', serif;
  background-image: linear-gradient(#5E1B89 5%, #9D71BC 50%, #FF7F4D 92%, #F4512C 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}


