.Toastify__toast--success {
    position: relative;
}

.Toastify__toast--success .Toastify__progress-bar {
    background: linear-gradient(to right, #5E1B89, #9D71BC, #FF7F4D, #F4512C);
}

.Toastify__toast--error .Toastify__progress-bar {
    background: linear-gradient(to right, #5E1B89, #9D71BC, #FF7F4D, #F4512C);
}

.nav-item {
    background-color: #FF7F4D;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px white;
    border-bottom: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-nav-item {
    width: 50%;
    float: left;
}

.nav-item:hover {
    background-color: #ff7f4d5d;
}

.active {
    background-color: #FF7F4D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active:hover {
    background-color: #FF7F4D;
}

i {
    font-style: normal;
}

i:hover {
    color: #9D71BC;
}

.letter-spacing {
    letter-spacing: 2px;
}


