.Toastify__toast--success {
    position: relative;
}

.Toastify__toast--success .Toastify__progress-bar {
    background: linear-gradient(to right, #5E1B89, #9D71BC, #FF7F4D, #F4512C);
}

.Toastify__toast--error .Toastify__progress-bar {
    background: linear-gradient(to right, #5E1B89, #9D71BC, #FF7F4D, #F4512C);
}

.nav-item {
    background-color: #FF7F4D;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px white;
    border-bottom: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-nav-item {
    width: 50%;
    float: left;
}

.nav-item:hover {
    background-color: #ff7f4d5d;
}

.active {
    background-color: #FF7F4D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active:hover {
    background-color: #FF7F4D;
}

i {
    font-style: normal;
}

i:hover {
    color: #FF7F4D;
}

.letter-spacing {
    letter-spacing: 2px;
}

@media (max-width: 991px) {
    .navbar-brand {
      font-size: 1rem;
      border: solid 1px white;
      border-top-right-radius: 0px !important;
      font-weight: 500;
    }

    .navbar-brand, .navbar-collapse, .btn-add-task-container {
        width: 100%;
    }

    .nav-item {
        font-size: 16px;
        border-left: solid 1px white;
        border-right: solid 1px white;
        border-top: solid 1px white;
        border-bottom: transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
      
    .nav {
        display: flex;
        flex-direction: column;
    }
    
    .btn-add-task-container {
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }
  
    .task-list {
      display: grid;
      grid-template-columns: 70% 30%;
    }
  
    .task-details .task-title {
      font-size: 10px;
    }
  
    .btn-outline-light {
      font-size: 0.8rem;
    }
  
    .modal-content {
      padding: 10px;
    }
  
    .modal-title {
      font-size: 1rem;
    }
  
    .modal-body, .modal-footer {
      font-size: 0.9rem !important;
    }

    .modal-fade .modal-content {
      padding: 10px;
    }

    .modal-fade .modal-title {
      font-size: 1rem;
    }

    .modal-fade .modal-body, .modal-footer {
      font-size: 0.9rem;
    }

}

@media (min-width: 992px) {
    .navbar-brand {
      width: 58.3333%; /* col-sm-7 equivalent */
    }
    
    .navbar-collapse {
      width: 33.3333%; /* col-sm-4 equivalent */
      display: grid;
      grid-template-columns: 50% 50%;
    }
    
    .btn-add-task-container {
      width: 8.3333%; /* col-sm-1 equivalent */
      text-align: end;
    }
}



  @media (max-width: 575px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-brand,
    .collapse.navbar-collapse,
    .btn-add-task-container {
      width: 100%;
      text-align: center;
      justify-content: center;
      display: flex;
    }

    .nav-item {
        font-size: 12px;
    }

  
    .nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
      text-align: center;
    }
  
    .btn-add-task {
      width: 100%;
      margin-top: 0.5rem;
    }

    .todo-item {
      grid-template-columns: 100%;
    }
    
    .todo-item-content {
      grid-template-columns: 10% 85%;
      text-align: left;
      margin-left: 5px;
    }

    .todo-item-content i {
      font-size: 14px;
    }
    
    .todo-item-details {
      grid-template-rows: 1fr 1fr;
      margin-left: 1rem;
      font-size: smaller;
      align-content: center !important;
    }

    .todo-item-details1 {
      font-size: 10px !important;
      justify-content: left;
      display: block !important;
      width: 100%;
      margin-top: 3px;
      margin-bottom: 10px;
    }

    .todo-container1 {
      display: grid;
      grid-template-rows: 50% 50%;
    }

    .todo-item-details h5 {
      font-size: 16px;
    }

    .todo-container {
      display: grid;
      grid-template-rows: 60% 40% !important;
      align-items: center !important;
    }
    
    .todo-item-icons {
      text-align: center !important;
    }

    .todo-item-icons i {
      font-size: 14px;
      margin: 2px !important;
    }

    .letter-spacing {
      letter-spacing: 0px;
    }

    .letter-spacing i {
      font-size: 14px;
    }
  
  }

  @media (max-width: 389px) {
    .todo-item-details h5 {
      font-size: 14px;
    }

    .todo-item-icons i {
      font-size: 12px;
      margin: 2px !important;
    }
  }


