.nav-item {
    background-color: #FF7F4D;
    cursor: pointer;
    background-color: transparent;
    color: white;
    width: 120px;
    text-align: center;
    text-decoration: none;
    border: solid 1px white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.active {
    background-color: #FF7F4D;
    border: solid 1px white;
    border-radius: 10px;
}